@import 'config';
@import 'menu';

* {
    box-sizing: border-box;
}

body {
    @include background;
    background-color: $primary-color;
    color: set-text-color($primary-color);
    height: 100%;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.5;
}

//headings

h1, h2, h3 {
    margin: 0;
    font-weight: 400;

    &.lg-heading {
        font-size: 5rem;
    }

    &.sm-heading {
        margin-bottom: 2rem;
        padding: 0.2rem 1rem;
        background: rgba(lighten($primary-color, 2), 0.5);
    }
}

a {
    color: #fff;
    text-decoration: none;
}

header {
    position: fixed;
    z-index: 2;
    width: 100%;
}

.text-secondary {
    color: $secondary-color;
}

main {
    padding: 4rem;
    // height: 100%;
    min-height: calc(100vh - 60px);

    .icons {
        margin-top: 1rem;

        a {
            padding: 0.4rem; 

            &:hover {
                color: $secondary-color;
                @include easeOut();
            }
        }
    }

    &#home {
        overflow: hidden;
        h1 {
            margin-top: 20vh;
        }
    }
}

// about page

.about-info {
    display: grid;
    grid-gap: 30px;
    grid-template-areas: 
    'bioimage bio bio'
    'job1 job2 job3';
    grid-template-columns: repeat(3, 1fr);
}

.bio-image {
    grid-area: bioimage;
    width: 25rem;
    margin: auto;
    border-radius: 50%;
    border: solid 3px $secondary-color;
}

.bio {
    grid-area: bio;
    font-size: 1.5rem;
}

.job-1 {
    grid-area: job1;
}

.job-2 {
    grid-area: job2;
}

.job-3 {
    grid-area: job3;
}

.job {
    background: lighten($primary-color, 5);
    padding: 0.5rem;
    border-bottom: $secondary-color 5px solid; 
}

.learn-more {
    color: $secondary-color;

    &:hover {
        text-decoration: underline;
    }
}

.job h6 {
    color: $secondary-color;
}

// work page

.projects {
    display: grid;
    grid-gap: 0.7rem;
    grid-template-columns: repeat(3, 1fr);

    img {
        width: 100%;
        border: 3px solid #fff;
        border-radius: 1rem;
        
        &:hover {
            opacity: 0.5;
            border-color: $secondary-color;
            border-radius: 2rem;
            @include easeOut;
        }
    }
}

// contact page

.boxes {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 1rem;

    div {
        font-size: 2rem;
        border: 3px solid #fff; 
        padding: 1.5rem 2.5rem;
        margin-bottom: 3rem;
        @include easeOut;

        &:hover {
            // padding: 0.5rem 1.5rem; 
            border-radius: 2rem;
            background: $secondary-color;
            color: set-text-color($secondary-color);
            span {
                color: set-text-color($secondary-color);
            }
        }
    }
}

// tree work page 

.treework h1 {
    font-size: 3rem;
}

.responsibility {
    display: grid;
    grid-template-areas:
    'photo1 text1'
    'text2 photo2';
    grid-template-columns: 1fr 1fr;
    text-align: center;
    grid-gap: 2rem;
}

.photo1 {
    grid-area: photo1;
}

.photo2 {
    grid-area: photo2;
}

.text1 {
    grid-area: text1;
}

.text2 {
    grid-area: text2;
}

.responsibility li {
    line-height: 2;
    text-align: center;
}

.responsibility h4 {
    color: $secondary-color;
}

.treework img {
    margin: 0 auto;
    width: 20rem;
    max-height: 30rem;
    border: 2px solid $secondary-color;
    border-radius: 1rem;
    opacity: 0.9;
    text-align: center;
}

// tech page

.tech h1 {
    font-size: 3rem;
}

.box {
    padding: 2rem;
    border: 3px solid $secondary-color;
    border-radius: 1rem;
    margin: 1rem;
    text-align: left;
    line-height: 2;

    &:hover {
        background: lighten($primary-color, 9);
        @include easeOut;
    }

    .github:hover {
        text-decoration: underline;
    }
}

// teach page 

.teach-grid {
    display: grid;
    grid-template-areas: 
    'teach1 teach2 teach3'
    'teach4 teach5 teach6'
    'teach7 teach8 teach9'
    'teach10 teach11 teach12'
    'teach13 teach14 teach15';
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1rem;
}

.photo {
    width: 20rem;
    height: 11rem;
    border: 2px solid white;
    border-radius: 1rem;
}

.text {
    border: 2px solid $secondary-color;
    border-radius: 1rem;
    padding: 1rem;
    text-align: center;
    width: 20rem;
    height: 6rem;

    &:hover {
        background: lighten($primary-color, 9);
        @include easeOut;
    }

}

// buttons 

.btn {
    display: block;
    padding: 0.5rem 1rem;
    border: 0;
    margin-bottom: 0.3rem;
    &:hover {
        background: $secondary-color;
        color: set-text-color($secondary-color);
        border-radius: 2rem;
        @include easeOut;
    }
}

.btn-dark {
    @extend .btn;
    background: darken($primary-color, 50);
    color: #fff;
}

.btn-light {
    @extend .btn;
    background: lighten($primary-color, 50);
    color: #333;
}

// footer / about page

#main-footer {
    text-align: center;
    padding: 1rem;
    background: darken($primary-color, 10);
    color: set-text-color($primary-color);
    height: 60px;
}

@import 'mobile';


